.navegacao{
    height: 112px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 3rem;
    background-color: var(--vermelho-escuro);
    color: var(--branco);
    padding: 4rem 2rem;

}
.navegacao a{
    color: var(--branco);
}

.navegacao a:hover{
    text-decoration: underline;
    font-size: 1.4rem;
}

.logo{
    width: 200px;
    height: auto;
    margin-right: 2rem;
}

@media (max-width: 774px) {
    .navegacao{
        height: 72px;
    }
}
